$pale-green : #ecfef0;
$pale-blue : #e8f0fb;
$pale-pink : #ffefe7;
$dark-bleu : #13111f;
$gray-1 : #413e45;
$gray-2 : #f6f4f5;
$gray-3 : #f6f6f6;
$gray-4 : #a7a6a6;
$font-1 : 'Be Vietnam Pro';
$font-2 : 'arial';

*:not(.mat-icon) {
    font-family: $font-1;
}
#dashboard-container {
    width: 100%;
    height: 100%;
    .side-bar {
        width: 220px;
        background-color: $gray-2;
        #title {
            font-weight: bold;
            margin-top: 43px;
            margin-left: 40px;
        }
        #list-bar {
            margin-top: 80px;
            margin-left: 20px;
            margin-right: 10px;
            .mat-list-item {
                height: 40px;
                color: $gray-4;
                font-size: 15px;
                font-weight: bold;
            }
            .mat-list-item .mat-icon {
                color: black;
            }
        }
        #side-card {
            background-color: $dark-bleu;
            color: white;
            height: 90px;
            width: 110px;
            border-radius: 30px;
            padding-left: 20px;
            margin-left: 40px;
            margin-top: 85px;
            padding-right: 20px;
            .mat-card-title {
                font-size: 13px;
                margin-top: 8px;
            }
            .mat-card-subtitle {
                font-size: 9px;
                color: gray;
                line-height: 1.5;
            }
            #history-icon {
                font-size: 30px; 
                margin-left: -35px;
            }
            #more-options-icon {
                font-size: 18px;
                margin-left: 80px;
                margin-top: 3px;
            }
        }
    }
    .content {
        background-color: white;
        .toolbar {
            height: 80px;
            background-color: white;
            display: flex; 
            justify-content: flex-end;
            padding-right: 50px;
            .icon-toolbar {
                font-size: 20px;
                margin-left: 15px;
                background-color: $gray-3;
                color: black;
                box-shadow: none;
                .mat-icon {
                    font-size: 22px;
                }
            }
            .mat-form-field {
                width: 350px;
                height: 43px;
                font-size: 13px;
                color: $gray-4;
                border-radius: 50px;
                background-color: $gray-3;
                margin-right: 20px;
                ::ng-deep .mat-form-field-underline { 
                    display: none; 
                } 
            }
            #search {
                padding-bottom: 5px;
            }
            #icon-search {
                margin: 10px 5px 10px 15px;
                color: black;
                font-size: 25px;
            }
        }
        .content-container {
            padding-left: 100px;
            padding-top: 10px;
            .content-header {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .mat-stroked-button {
                    padding: 0px 10px 0px 15px;
                    height: 34px;
                    font-weight: bold;
                    border-radius: 10px;
                    margin-bottom: 15px;
                    .mat-icon {
                        font-size: 19px;
                    }
                }
                #dashboard {
                    font-weight: bold;
                    margin-right: 68%;
                    margin-top: 3px;
                }
            }
            .cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .mat-card {
                    height: 105px;
                    width: 250px;
                    border-radius: 30px;
                    margin-right: 50px;
                    padding-right: 8px;
                    box-shadow: none;
                }
                .card-image {
                    width: 45px;
                    height: 43px;
                }
                #card1 {
                    background-color: $pale-green;
                    #line1 {
                        margin-top: 40px;
                        margin-left: -90px;
                        width: 55px;
                        height: 40px;
                    }
                }
                #card2 {
                    background-color: $pale-blue;
                    #line2 {
                        margin-top: 60px;
                        margin-left: -80px;
                        width: 35px;
                        height: 20px;
                    }
                }
                #card3 {
                    background-color: $pale-pink;
                    #line3 {
                        margin-top: 50px;
                        margin-left: -90px;
                        width: 60px;
                        height: 30px;
                    }
                }
                .mat-icon {
                    font-size: 23px;
                    margin-left: 170px;
                    margin-top: 3px;
                }
                .mat-card-title-group {
                    margin-left: 20px;
                    margin-top: -40px;
                    .mat-card-title {
                        font-weight: bold;
                    }
                    .black-subtitle {
                        color: black;
                    }
                }
            }
        }
        .cards-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            #content-chart-card {
                height: 90px;
                width: 550px;
                margin-top: 10px;
                margin-left: -45px;
                box-shadow: none;
                .mat-card-title-group{
                    margin-right: 220px;
                    line-height: 1.2;
                    .mat-card-title {
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .mat-card-subtitle {
                        font-size: 12px;
                    }
                }
                .mat-stroked-button {
                    color: gray;
                    padding: 0px 10px 0px 15px;
                    height: 34px;
                    font-size: 12px;
                    border-radius: 10px;
                    .mat-icon {
                        font-size: 20px;
                        color: black;
                    }
                }
                .mat-card-content {
                    margin-left: 30px;
                    padding: 10px 20px;
                    margin-right: 40px;
                    background-color: $pale-blue;
                    border-radius: 50px;
                    color: $gray-4;
                }
            }
            #content-white-card {
                height: 180px;
                width: 550px;
                padding-left: 10px;
                padding-right: 0px;
                margin-left: -22px;
                box-shadow: none;
                .mat-card-title {
                    font-size: 16px;
                    margin-bottom: 5px;
                    font-weight: bold;
                }
                .mat-card-content{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .mat-card {
                        width: 80px;
                        height: 130px;
                        box-shadow: none;
                    }
                    .icons-card {
                        width: 50px;
                    }
                    .mat-icon {
                        font-size: 18px;
                        color: black;
                        padding: 7px 4px 3px 9px;
                        border-radius: 50%;
                        margin-bottom: 20px;
                    }
                    .h5 {
                        margin-bottom: 35px;
                        margin-top: 7px;
                        color: $gray-4;
                        font-weight: bold;
                    }
                }
                #icon1 {
                    background-color: $pale-green;
                }
                #icon2 {
                    background-color: $pale-blue;
                }
                #icon3 {
                    background-color: $pale-pink;
                }
            }
            #content-black-card {
                background-color: $dark-bleu;
                color: white;
                height: 270px;
                width: 227px;
                border-radius: 30px;
                padding-left: 15px;
                padding-bottom: 25px;
                margin-left: 120px;
                margin-top: 30px;
                padding-right: 15px;
                .mat-card-title {
                    font-size: 16px;
                    margin-bottom: 15px;
                    font-weight: bold;
                }
                .mat-icon {
                    font-size: 18px;
                    margin-left: 90px;
                }
                .mat-list-item {
                    height: 30px;
                    color: gray;
                    .h4 {
                        margin-right: 35px;
                        color: white;
                        margin-bottom: 25px;
                    }
                    .h5 {
                        margin-right: 45px;
                        font-family: $font-2;
                    }
                }
                #special-item {
                    color: white;
                    background-color: $gray-1;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    padding-right: 30px;
                    margin: 1px 0px 2px 0px;
                    height: 15px;
                    width: 200px;
                    border-radius: 20px;
                }
            }
        }
    }
}
