<mat-sidenav-container id="dashboard-container" >
               
                <!-- SIDE NAV -->
  <mat-sidenav mode="side" class="side-bar"opened>
    
    <h1 id="title">Wallet</h1>

    <mat-divider></mat-divider>
    
    <mat-nav-list id="list-bar">
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="material-icons-outlined">av_timer</mat-icon>
        <div mat-line class="text-item">Dashboard</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="material-icons-outlined">account_balance_wallet</mat-icon>
        <div mat-line>My Wallet</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="material-icons-outlined">ballot</mat-icon>
        <div mat-line>Transaction</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="material-icons-outlined">paid</mat-icon>
        <div mat-line>Crypto</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="material-icons-outlined">swap_horizontal_circle</mat-icon>
        <div mat-line>Exchange</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="material-icons-outlined">settings</mat-icon>
        <div mat-line>Settings</div>
      </mat-list-item>
    </mat-nav-list>

    <mat-card id="side-card">
      <mat-card-header>
        <mat-icon id="history-icon">restore</mat-icon>
        <mat-icon id="more-options-icon">more_vert</mat-icon>
      </mat-card-header>
      <mat-card-title >History available</mat-card-title>
      <mat-card-subtitle >Check your weekly transaction reports</mat-card-subtitle>
    </mat-card>

  </mat-sidenav>

              <!-- CONTENT SIDE -->
  <mat-sidenav-content class="content">
    
    <mat-toolbar class="toolbar">

      <mat-form-field>
        <mat-icon matPrefix id="icon-search">search</mat-icon>
        <input id="search" matInput type="text" placeholder="Search">
      </mat-form-field>

      <button mat-mini-fab class="icon-toolbar" aria-label="Example icon button with a filter list icon">
        <mat-icon fontSet="material-icons-outlined">notifications_none</mat-icon>
      </button>
      <button mat-mini-fab class="icon-toolbar" aria-label="Example icon button with a filter list icon">
        <mat-icon fontSet="material-icons-outlined">message</mat-icon>
      </button>
      <button mat-mini-fab class="icon-toolbar" aria-label="Example icon button with a filter list icon">
        <mat-icon fontSet="material-icons-outlined">card_giftcard</mat-icon>
      </button>
      <button mat-mini-fab class="icon-toolbar" aria-label="Example icon button with a filter list icon">
        <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
      </button>
      
    </mat-toolbar>

    <mat-divider></mat-divider>

    <div class="content-container">

      <div class="content-header">
        <h2 id="dashboard">Dashboard</h2>
        <button mat-stroked-button>Filters
          <mat-icon fontSet="material-icons-outlined">timeline</mat-icon>
        </button>
      </div>

      <div class="cards"> 
        <mat-card id="card1">
          <mat-card-header>
            <img mat-card-image class="card-image" src="/assets/1.PNG" alt="1st Photo">
            <mat-icon>more_vert</mat-icon>
            <img mat-card-image id="line1" src="/assets/1_line.PNG" alt="1st Line">
          </mat-card-header>
          <mat-card-title-group>
            <mat-card-title>$1200</mat-card-title>
            <mat-card-subtitle><b>45%</b> This week</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card>

        <mat-card id="card2">
          <mat-card-header>
            <img mat-card-image class="card-image" src="/assets/2.PNG" alt="2sd Photo">
            <mat-icon>more_vert</mat-icon>
            <img mat-card-image id="line2" src="/assets/2_line.PNG" alt="2sd Line">
          </mat-card-header>
          <mat-card-title-group>
            <mat-card-title>$232,40</mat-card-title>
            <mat-card-subtitle class="black-subtitle"><b>35%</b> This week</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card>

        <mat-card id="card3">
          <mat-card-header>
            <img mat-card-image class="card-image" src="/assets/3.PNG" alt="3rd Photo">
            <mat-icon>more_vert</mat-icon>
            <img mat-card-image id="line3" src="/assets/3_line.PNG" alt="3rd Line">
          </mat-card-header>
          <mat-card-title-group>
            <mat-card-title>600</mat-card-title>
            <mat-card-subtitle class="black-subtitle"><b>21%</b> This week</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card>
      </div> 
    
      <div class="cards-container">

        <div class="left-cards">

          <mat-card id="content-chart-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Market Overview</mat-card-title>
                <mat-card-subtitle>Prices value updates</mat-card-subtitle>
                <!-- <mat-form-field appearance="outline">
                  <mat-select placeholder="Weekly (2020)">
                    <mat-option value=1>Weekly (2019)</mat-option>
                    <mat-option value=2>Weekly (2020)</mat-option>
                    <mat-option value=3>Weekly (2021)</mat-option>
                  </mat-select>
                </mat-form-field> -->
            </mat-card-title-group>
              <button mat-stroked-button>
                Weekly (2020)
                <mat-icon>expand_more</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-content>
              Chart place ...
            </mat-card-content>
          </mat-card>

          <mat-card id="content-white-card">
            <mat-card-header>
              <mat-card-title>Recent Activites</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-card class="icons-card">
                <mat-icon id="icon1">call_made</mat-icon>
                <mat-icon id="icon2">call_received</mat-icon>
                <mat-icon id="icon3">call_received</mat-icon>
              </mat-card>
              <mat-card>
                <h5 class="h5">Bitcoin</h5>
                <h5 class="h5">Ethereum</h5>
                <h5 class="h5">Binance</h5>
              </mat-card>
              <mat-card>
                <h5 class="h5">10:42:23 AM</h5>
                <h5 class="h5">12:00:23 AM</h5>
                <h5 class="h5">10:42:23 AM</h5>
              </mat-card>
              <mat-card>
                <h5 class="h5">+1545,00</h5>
                <h5 class="h5">+1745,00</h5>
                <h5 class="h5">+255,00</h5>
              </mat-card>
              <mat-card>
                <h5 class="h5">Completed</h5>
                <h5 class="h5">Completed</h5>
                <h5 class="h5">Completed</h5>
              </mat-card>
            </mat-card-content>
          </mat-card>

        </div>

        <mat-card id="content-black-card">
          <mat-card-header>
            <mat-card-title>Sell Order</mat-card-title>
            <mat-icon>more_vert</mat-icon>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <h5 class="h4">Price</h5>
                <h5 class="h4">Amount</h5>
                <h5 class="h4">Total</h5>
              </mat-list-item>
              <mat-list-item >
                <h5 class="h5">89.03</h5>
                <h5 class="h5">0.15</h5>
                <h5 class="h5">$126,00</h5>
              </mat-list-item>
              <mat-list-item>
                <h5 class="h5">94.02</h5>
                <h5 class="h5">0.18</h5>
                <h5 class="h5">$126,00</h5>
              </mat-list-item>
              <mat-list-item id="special-item">
                <h5 class="h5">92.06</h5>
                <h5 class="h5">0.22</h5>
                <h5 class="h5">$252,00</h5>
              </mat-list-item>
              <mat-list-item>
                <h5 class="h5">95.20</h5>
                <h5 class="h5">0.26</h5>
                <h5 class="h5">$176,00</h5>
              </mat-list-item>
              <mat-list-item>
                <h5 class="h5">95.30</h5>
                <h5 class="h5">0.31</h5>
                <h5 class="h5">$226,00</h5>
              </mat-list-item>
              <mat-list-item>
                <h5 class="h5">92.01</h5>
                <h5 class="h5">0.35</h5>
                <h5 class="h5">$2326,00</h5>
              </mat-list-item>
              <mat-list-item>
                <h5 class="h5">97.34</h5>
                <h5 class="h5">0.53</h5>
                <h5 class="h5">$2243,00</h5>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>

      </div>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
